<script src="js/three.js"></script>
<div class="col-xs-1 text-center text-secondary" style="margin-top: 50px;"><h1 style="color: #00ff00; ">Salacryl's slim shading pond of moods </h1></div>
<script>
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );

			var renderer = new THREE.WebGLRenderer();
//			renderer.setClearColor(new THREE.Color("rgb(255, 0, 0)"));
			renderer.setSize( 400,200 );
			var element = renderer.domElement;
			var half = (window.innerWidth/2)-200;
			var cStyle="margin-left:"+ half+"px;";
			element.style=cStyle;

			document.body.appendChild( element );
			var texture = new THREE.TextureLoader().load( 'textures/basic_quader.png' );

			// immediately use the texture for material creation
			var material = new THREE.MeshBasicMaterial( { map: texture } );	
			var geometry = new THREE.BoxGeometry();
			var cube = new THREE.Mesh( geometry, material );
			scene.add( cube );

			camera.position.z = 2;

			var animate = function () {
				requestAnimationFrame( animate );

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
</script>